body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  background-image: url("./images/pattern-bg-desktop.png");
  background-size: absolute;
  background-repeat: no-repeat;
}

.map {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  top: -5rem;
  z-index: 1;
}

.vl {
  border-left: 1px solid hsl(0, 0%, 90%);
  height: 50px;
  margin: 0 20px;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
  color: hsl(0, 0%, 17%);
  width: 100%;
  max-width: 1110px;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  width: 300px;
  font-size: 14px;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: hsl(0, 0%, 17%);
  color: hsl(0, 0%, 100%);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 30%);
}
.info-container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.info-item {
  flex: 1;
  margin: 0 10px;
}

.info-item h2 {
  font-size: 8px;
  color: hsl(0, 0%, 53%);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.info-item p {
  font-size: 14px;
  color: hsl(0, 0%, 50%);
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
